/* 
    Created on : 07.11.2015, 22:05:17
    Author     : yura
*/

datalist option {
    height: 50px;
    background-color: yellow !important;
}

tbody td {
    cursor: pointer;
    text-align: left;
}

.selected {
    background-color: darkblue !important;
    color: white;
    /*font-weight:bold;*/
}

.mb10 {
    margin-bottom: 10px;
}

.mt25 {
    margin-top: 25px;
}

.mt10 {
    margin-top: 10px;
}

.ml10 {
    margin-left: 10px;
}