<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Messeg</title>
    <!-- CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/mycss.css"/>

    <!-- JS  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.1.2.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>

    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <!--<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/restangular/1.3.1/restangular.min.js"></script>-->
    <script type="text/javascript" src="res/restangular.min.js"></script>

    <script src="controllers/app.js"></script>
    <!--<script src="controllers/contr.js"></script>-->
    <script src="controllers/contr_login.js"></script>
    <script src="controllers/contr_jurnal.js"></script>
    <script src="controllers/contr_spisok.js"></script>
    <script src="controllers/contr_find.js"></script>
    <script src="controllers/contr_scrum.js"></script>
    <script src="controllers/contr_sprav.js"></script>

    <!-- image favicon  -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
</head>
<!-- app нашего приложения -->
<body ng-app="routerApp">
<!-- навигация -->
<!--<nav class="navbar navbar-default" role="navigation" >-->
    <!--<div class="navbar-header">-->
        <!--<a class="navbar-brand" ui-sref="autor">TEST project</a>-->
    <!--</div>-->
    <!--<ul class="nav navbar-nav">-->
        <!--<li><a ui-sref="home">Журнал</a></li>-->
        <!--<li><a ui-sref="spisok">Список</a></li>-->
        <!--<li><a ui-sref="find">Поиск</a></li>-->
        <!--<li><a ui-sref="sprav">Справочники</a></li>-->
        <!--<li><a ui-sref="scrum">Scrum-задачи</a></li>-->
        <!--<li><a ui-sref="about">О сайте</a></li>-->
    <!--</ul>-->
    <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li><a ui-sref="autor" style="margin-right: 10px;"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>-->
    <!--</ul>-->
<!--</nav>-->

<!--<div class="padded-row">-->
    <!-- основной контент -->
    <!--<div class="container">-->
        <div ui-view></div>
    <!--</div>-->
<!--</div>-->
</body>
<!--<body ng-app="myApp">
<div ng-controller="myCtrl">

    &lt;!&ndash; навигация &ndash;&gt;
    <nav class="navbar navbar-default" style="width: 100%" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="autor">UI таск messeg</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#" data-toggle="modal" data-target="#myModal" ng-click="add()">Добавить</a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li><a href="servises.html">Ссылки</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" data-toggle="modal" data-target="#myModalLogin" ng-click="getUsers()"
                   ui-sref="autor"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
        </ul>
    </nav>

    <div class="form-group col-md-4">
        <div class="list-group">
            <a style="margin-bottom: 20px" class="list-group-item list-group-item-warning"
               href="#" ng-repeat="it in pagedItems[currentPage-1]" ng-mouseenter="setItem(it)" ng-click="setItem(it)"
               data-toggle="modal" data-target="#myModal">
                <span class="badge">{{it.id}}</span>
                <h4>{{it.sprAvtorsId.avtor}}</h4>
                <hr/>
                <pre style="float: right; width: 250px">Время: {{it.timez | date:'dd.MM.yyyy HH:mm'}}</pre>
                <p class="list-group-item-text">
                    {{it.text}}
                </p>
            </a>
        </div>
        <uib-pagination total-items="totalItems" items-per-page="gap"
                        ng-model="currentPage" max-size="maxSize" class="pagination-lg" boundary-links="true"
                        rotate="false" num-pages="numPages"></uib-pagination>
    </div>
    <div class="col-md-4">
        <pre><label>Автор:</label> {{ scrum.sprAvtorsId.avtor}}<p><label>Запись от:</label> {{scrum.timez |
            date:'dd.MM.yyyy HH:mm'}}</p><p><label>Ваш текст:</label> {{ scrum.text}}</p></pre>
        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="add()">Добавить</button>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            &lt;!&ndash; Modal content&ndash;&gt;
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Запись от: {{scrum.timez | date:'dd.MM.yyyy HH:mm'}}</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="avt">Автор:</label>
                            <input id="avt" type="" autosave="some_unique_value" name="s"
                                   placeholder="Автор" results="5" name="avtorsearch"
                                   ng-model="scrum.sprAvtorsId.avtor" class="form-control" autofocus list="avtor">
                            <datalist style="overflow:scroll;" id="avtor">
                                <option ng-repeat="it in itemsAu" value="{{it.avtor}}"></option>
                            </datalist>
                        </div>
                        <div class="form-group">
                            <label for="prim">Ваш текст:</label>
                            <textarea class="form-control" rows="3" ng-model="scrum.text" id="prim"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-show="sh_butt" ng-click="save()" data-dismiss="modal">Сохранить
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>

        </div>
    </div>

    <div id="myModalLogin" class="modal fade" role="dialog">
        <div class="modal-dialog">
            &lt;!&ndash; Аутентификации пользователя &ndash;&gt;
            <div class="panel panel-default" style="margin-left: 20%; width: 40%">
                <div class="panel-heading">Введите</div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="login">Имя пользователя:</label>
                            <select class="form-control" id="login" ng-model="usr"
                                    ng-init="usr = usr || users[0].id"
                                    ng-options="it.id as it.pole1 for it in users">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="pwd">Пароль:</label>
                            <input type="password" class="form-control" id="pwd" ng-model="psw" required="true">
                        </div>
                        <button class="btn btn-default" ng-click="checkLogin()">Вход</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</body>-->
</html>
