<script type="text/ng-template" id="myPopoverTemplate.html">
    <!--<div>{{dynamicPopover.content}}</div>-->
    <div class="form-inline">
        <autoc2 par="shabl" placeh="Шаблон" on-select="addShabl(message)"></autoc2>
    </div>
</script>

<!-- редактирование задачи -->
<form name="formRMO" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="evnt('cancel')">&times;</button>

        <h5 class="modal-title">
            <div class="btn-group" ng-click="toggleOpen()">
                <label class="btn btn-default btn-sm" ng-model="radioModel" uib-btn-radio="'1'">Вр</label>
                <label class="btn btn-default btn-sm" ng-model="radioModel" uib-btn-radio="'2'">Иссл</label>
                <label class="btn btn-default btn-sm" ng-model="radioModel" uib-btn-radio="'3'">Все</label>
                <label class="btn btn-success btn-sm" ng-model="radioModel" uib-btn-radio="'4'">Шаблоны всем</label>
            </div>
            <label class="rightV mr10">ФИО: {{fio}}</label>
        </h5>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <textarea uib-popover-template="dynamicPopover.templateUrl" popover-title="Заключение"
                      popover-placement="bottom-right" popover-is-open="dynamicPopover.op" class="form-control"
                      ng-model="selected.item.dopinfoid.dopInfObshhaja" rows="4" ng-click="dynamicPopover.op2=false">
            </textarea>
        </div>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Panel heading</div>
            <div class="panel-body">
                <div class="form-inline">
                    <autoc par="txtRes" placeh="Заключение/рекомендация" model="addRez"></autoc>
                    <autoc par="nameP" placeh="Врач" model="addVrach"></autoc>
                    <button type="button" class="btn btn-primary mb5" ng-click="addRMOVr()">Добавить</button>
                    <button type="button" class="btn btn-success mb5">Удалить</button>
                </div>
            </div>

            <div class="list-group">
                <a class="list-group-item cur" ng-repeat="item in items | filter:fltr"
                   ng-class="{'active':$index === selectedRow, 'list-group-item-warning':item.provedeno}"
                   ng-click="selVI(item, $index)">
                    <span class="badge">{{item.vrachissl.nameP}}</span>{{item.vrachissl.nameP}}
                </a>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="form-group">
            <div class="btn-group" style="float: left">
                <label class="btn btn-default" ng-model="selected.item.dopinfoid.prodTrudDejatelnost" uib-btn-radio="1">Здоров</label>
                <label class="btn btn-default" ng-model="selected.item.dopinfoid.prodTrudDejatelnost" uib-btn-radio="2">Нет</label>
            </div>

            <div class="btn-group ml10" style="float: left" uib-tooltip="Группа состояния здоровья">
                <label class="btn btn-default" ng-model="selected.item.dopinfoid.prodTrudDejatelnost" uib-btn-radio="1">1</label>
                <label class="btn btn-default" ng-model="selected.item.dopinfoid.prodTrudDejatelnost" uib-btn-radio="2">2</label>
                <label class="btn btn-default" ng-model="selected.item.dopinfoid.prodTrudDejatelnost" uib-btn-radio="3">3</label>
                <label class="btn btn-default" ng-model="selected.item.dopinfoid.prodTrudDejatelnost" uib-btn-radio="4">4</label>
            </div>

            <div class="form-inline ml10" style="float: left">
                <dateb placeh="" model="selected.item.dopinfoid.datas"></dateb>
            </div>

            <button type="button" ng-disabled="!formMOI.$dirty && !formMOI.$invalid"
                    class="btn btn-primary" ng-click="save()">Сохранить
            </button>
            <button type="button" class="btn btn-default" ng-click="evnt('cancel')">Закрыть</button>
        </div>
    </div>
</form>